<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/loader %>
    <header>
      <% include partials/header %>
    </header>
    <div class="tt-breadcrumb">
      <div class="container">
        <ul>
          <li><a href="/">Trang chủ</a></li>
          <li>Tài khoản</li>
        </ul>
      </div>
    </div>
    <div id="tt-pageContent">
      <div class="container-indent">
        <div class="container container-fluid-custom-mobile-padding">
          <h1 class="tt-title-subpages noborder">TÀI KHOẢN</h1>
          <div class="tt-shopping-layout">
            <div class="tt-wrapper">
              <h6 class="tt-title">Chỉnh sửa thông tin các nhân</h6>
              <div class="form-default">
                <form method="POST">
                  <div class="form-group">
                    <label for="shopInputFirstName" class="control-label"
                      >Họ *</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="shopInputFirstName"
                      name="firstName"
                      value="<%= user.firstName %>"
                    />
                  </div>
                  <div class="form-group">
                    <label for="shopInputLastName" class="control-label"
                      >Tên *</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="shopInputLastName"
                      name="lastName"
                      value="<%= user.lastName %>"
                    />
                  </div>
                  <div class="form-group">
                    <label for="shopAddress" class="control-label"
                      >Địa chỉ *</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="shopAddress"
                      name="address"
                      value="<%= user.address %>"
                    />
                  </div>
                  <div class="form-group">
                    <label for="shopPhone" class="control-label"
                      >Số Điện Thoại*</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="shopPhone"
                      name="phoneNumber"
                      value="<%= user.phoneNumber %>"
                    />
                  </div>
                  <div class="form-group">
                    <label for="shopEmail" class="control-label"
                      >Địa chỉ email *</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="shopEmail"
                      name="email"
                      value="<%= user.email %>"
                    />
                  </div>
                  <!-- <div class="checkbox-group">
                    <input type="checkbox" id="checkBox11" name="checkbox" />
                    <label for="checkBox11">
                      <span class="check"></span>
                      <span class="box"></span>
                      Set as deafult address?
                    </label>
                  </div> -->
                  <div class="row tt-offset-21">
                    <div class="col-auto">
                      <button type="submit" class="btn">Lưu</button>
                    </div>
                    <div class="col-auto align-self-center">
                      or <a href="/account" class="tt-link">Huỷ</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <% include partials/footer %>
    </footer>
    <a href="#" class="tt-back-to-top">BACK TO TOP</a>
    <!-- Partials -->
    <% include partials/modal-addtocartproduct %> <% include
    partials/modal-quickviewmodal %> <% include partials/modal-videoproduct %>
    <% include partials/modal-subscribegood %> <% include
    partials/modal-newsletter %> <% include partials/script %>
  </body>
</html>
