<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body>
    <% include partials/loader %>
<header>
    <% include partials/header %>
</header>
<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/">Home</a></li>
			<li>Danh sách</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-3 leftColumn aside">
					<div class="tt-btn-col-close">
						<a href="#">Đóng</a>
					</div>
					<div class="tt-collapse open tt-filter-detach-option">
						<div class="tt-collapse-content">
							<div class="filters-mobile">
								<div class="filters-row-select">

								</div>
							</div>
						</div>
					</div>
					<!-- <div class="tt-collapse open ">
						<h3 class="tt-collapse-title">Sắp xếp theo</h3>
						<div class="tt-collapse-content">
							<ul class="tt-filter-list" id="filter-list">
								<li>
									<a href="#">Shirts &amp; Tops</a>
								</li>
								<li>
									<a href="#">XS</a>
								</li>
								<li>
									<a href="#">White</a>
								</li>
							</ul>
							<a href="#" class="btn-link-02" onclick="deleteAllFilter()">Xoá tất cả</a>
						</div>
					</div> -->
					<form action="/products" method="GET">
					<div class="tt-collapse open">
						<h3 class="tt-collapse-title">LOẠI SẢN PHẨM</h3>
						<div class="tt-collapse-content">
							<ul class="tt-list-row" id="product-type">
								<li><input type="radio" name="type" value="Áo"> Áo</li>
								<li><input type="radio" name="type" value="Quần"> Quần</li>
								<li><input type="radio" name="type" value="Túi xách""> Túi xách</li>
								<li><input type="radio" name="type" value="Giày"> Giày</li>
							</ul>
						</div>
					</div>
					<div class="tt-collapse open">
						<h3 class="tt-collapse-title">Lọc theo giá</h3>
						<div class="tt-collapse-content">
							<ul class="tt-list-row" id="product-price">
								<li><input type="radio" name="price" value="50">$0 — $50</li>
								<li><input type="radio" name="price" value="100">$50 — $100</li>
								<li><input type="radio" name="price" value="150">$100 — $150</li>
								<li><input type="radio" name="price" value="200">$150 —  $200</li>
								<li><input type="radio" name="price" value="1000000">>$200</li>
							</ul>
						</div>
					</div>
					<div class="tt-collapse open">
						<h3 class="tt-collapse-title">Lọc theo kích thước</h3>
						<div class="tt-collapse-content">
							<ul class="tt-list-row" id="product-size">
								<li><input type="radio" name="size" value="S"> S</li>
								<li><input type="radio" name="size" value="M"> M</li>
								<li><input type="radio" name="size" value="L"> L</li>
								<li><input type="radio" name="size" value="XL"> XL</li>
							</ul>
						</div>
					</div>
					<!-- <div class="tt-collapse open">
						<h3 class="tt-collapse-title">Lọc theo màu sắc</h3>
						<div class="tt-collapse-content">
							<ul class="tt-options-swatch options-middle">
								<li><a class="options-color tt-border tt-color-bg-08" href="#"></a></li>
								<li><a class="options-color tt-color-bg-09" href="#"></a></li>
								<li class="active"><a class="options-color tt-color-bg-10" href="#"></a></li>
								<li><a class="options-color tt-color-bg-11" href="#"></a></li>
								<li><a class="options-color tt-color-bg-12" href="#"></a></li>
								<li><a class="options-color tt-color-bg-13" href="#"></a></li>
								<li><a class="options-color tt-color-bg-14" href="#"></a></li>
								<li><a class="options-color tt-color-bg-15" href="#"></a></li>
								<li><a class="options-color tt-color-bg-16" href="#"></a></li>
								<li><a class="options-color tt-color-bg-17" href="#"></a></li>
								<li><a class="options-color tt-color-bg-18" href="#"></a></li>
								<li><a class="options-color" href="#">
									<span class="swatch-img">
										<img src="/images/custom/texture-img-01.jpg" alt="">
									</span>
									<span class="swatch-label color-black"></span>
								</a></li>
							</ul>
						</div>
					</div> -->
					<div class="tt-collapse open">
						<h3 class="tt-collapse-title">Thương hiệu</h3>
						<div class="tt-collapse-content">
							<ul class="tt-list-row" id="product-label">
								<li><input type="radio" name="label" value="shiro"> Shiro</li>
								<li><input type="radio" name="label" value="crepp"> Crepp</li>
								<li><input type="radio" name="label" value="mob"> Mob</li>
								<li><input type="radio" name="label" value="Gucci"> Gucci</li>
							</ul>
						</div>
					</div>
					<button type="submit" class="btn btn-border mx-auto mb-5">Lọc</button>
					</form>
					<div class="tt-collapse open">
						<h3 class="tt-collapse-title">Sản phẩm giảm giá</h3>
						<div class="tt-collapse-content">
							<div class="tt-aside">
								<a class="tt-item" href="/products">
									<div class="tt-img">
										<span class="tt-img-default"><img src="/images/loader.svg" data-src="/images/product/product-01-01.jpg" alt=""></span>
										<span class="tt-img-roll-over"><img src="/images/loader.svg" data-src="/images/product/product-01-02.jpg" alt=""></span>
									</div>
									<div class="tt-content">
										<h6 class="tt-title">Flared Shift Dress</h6>
										<div class="tt-price">
											<span class="sale-price">$14</span>
											<span class="old-price">$24</span>
										</div>
									</div>
								</a>
								<a class="tt-item" href="/products">
									<div class="tt-img">
										<span class="tt-img-default"><img src="/images/loader.svg" data-src="/images/product/product-02-01.jpg" alt=""></span>
										<span class="tt-img-roll-over"><img src="/images/loader.svg" data-src="/images/product/product-02-02.jpg" alt=""></span>
									</div>
									<div class="tt-content">
										<h6 class="tt-title">Flared Shift Dress</h6>
										<div class="tt-price">
											<span class="sale-price">$14</span>
											<span class="old-price">$24</span>
										</div>
									</div>
								</a>
								<a class="tt-item" href="/products">
									<div class="tt-img">
										<span class="tt-img-default"><img src="/images/loader.svg" data-src="/images/product/product-03-01.jpg" alt=""></span>
										<span class="tt-img-roll-over"><img src="/images/loader.svg" data-src="/images/product/product-03-02.jpg" alt=""></span>
									</div>
									<div class="tt-content">
										<h6 class="tt-title">Flared Shift Dress</h6>
										<div class="tt-price">
											<span class="sale-price">$14</span>
											<span class="old-price">$24</span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<!-- <div class="tt-collapse open">
						<h3 class="tt-collapse-title">TAGS</h3>
						<div class="tt-collapse-content">
							<ul class="tt-list-inline">
								<li><a href="#">Dresses</a></li>
								<li><a href="#">Shirts &amp; Tops</a></li>
								<li><a href="#">Polo Shirts</a></li>
								<li><a href="#">Sweaters</a></li>
								<li><a href="#">Blazers</a></li>
								<li><a href="#">Vests</a></li>
								<li><a href="#">Jackets</a></li>
								<li><a href="#">Outerwear</a></li>
								<li><a href="#">Activewear</a></li>
								<li><a href="#">Pants</a></li>
								<li><a href="#">Jumpsuits</a></li>
								<li><a href="#">Shorts</a></li>
								<li><a href="#">Jeans</a></li>
								<li><a href="#">Skirts</a></li>
								<li><a href="#">Swimwear</a></li>
							</ul>
						</div>
					</div> -->
					<div class="tt-content-aside">
						<a href="/products" class="tt-promo-03">
							<img src="/images/custom/listing_promo_img_07.jpg" alt="">
						</a>
					</div>
				</div>
				<div class="col-md-12 col-lg-9 col-xl-9">
					<div class="content-indent container-fluid-custom-mobile-padding-02">
						<div class="tt-filters-options">
							<h1 class="tt-title">
								Danh sách sản phẩm
							</h1>
							<div class="tt-btn-toggle">
								<a href="#">Lọc</a>
							</div>
							<div class="tt-sort tt-sort-1">
								<form class="woocommerce-ordering" method="GET" >
									<select name="orderby" class="orderby" aria-label="Shop order" onchange="this.form.submit()">
										<option value="" selected disabled hidden><%= sort_value %></option>
										
										<option value="1" >Giá thấp tới cao</option>
										<option value="-1" >Giá cao tới thấp</option>
									</select>
									<!-- <input type="hidden" name="paged" value="1"/> -->
								</form>
							</div>
							<div class="tt-sort tt-sort-2">
							
								<form method="POST">
									
								
									<select name="numItems" onchange="this.form.submit()" class="form-control">
										<% if(ITEM_PER_PAGE != 1000){%>
								
										<option value="" selected disabled hidden><%= ITEM_PER_PAGE%></option>
										<% }else{%>
											<option value="" selected disabled hidden>Tất cả</option>
										<% } %>

										<option value="8" >8</option>
								
												
										<option value="12" >12</option>
								
												
										<option value="16" >16</option>
								
												
										<option value="32" >32</option>
								
												
										<option value="1000" >Tất cả</option>
								
												
									</select>
								
								</form>  
								
							</div>
								
							
						</div>
						<div class="tt-product-listing row">
							<% allProducts.forEach(function(prod) { %>
								<div class="col-6 col-md-4 col-lg-3 mb-4">
									<div class="tt-product thumbprod-center">
										<div class="tt-image-box">
											<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"	data-tooltip="Quick View" data-tposition="left"></a>
											<a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist" data-tposition="left"></a>
											<a href="#" class="tt-btn-compare" data-tooltip="Add to Compare" data-tposition="left"></a>
											<a href="/product/<%= prod._id %>">
												<span class="tt-img"><img src="/images/loader.svg" data-src="/images/product/<%= prod.images[0] %>" alt=""></span>
												<span class="tt-img-roll-over"><img src="/images/loader.svg" data-src="/images/product/<%= prod.images[1] %>" alt=""></span>
											</a>
										</div>
										<div class="tt-description">
											<div class="tt-row">
												<ul class="tt-add-info">
													<li><a href="#"><%= prod.type %></a></li>
												</ul>
											</div>
											<h2 class="tt-title"><a href="product/<%= prod._id %>"><%= prod.name %></a></h2>
											<div class="tt-price">
												$<%= prod.price %>
											</div>
											<div class="tt-product-inside-hover">
												<div class="tt-row-btn">
													<a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal" data-target="#modalAddToCartProduct">THÊM VÀO GIỎ HÀNG</a>
												</div>
												<div class="tt-row-btn">
													<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></a>
													<a href="#" class="tt-btn-wishlist"></a>
													<a href="#" class="tt-btn-compare"></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<% }); %>
						</div>
						<nav aria-label="Page navigation example">
								
								<ul class="pagination justify-content-center">
										<% if (currentPage !== 1){ %>
										<li class="page-item">
												<a class="page-link" href="/products/?page=<%= previousPage %>" aria-label="Previous">
												  <span aria-hidden="true">&laquo;</span>
												  <span class="sr-only">Previous</span>
												</a>
										</li>
										<% } %>
				

								  
								  <% if(hasPreviousPage ){  %>
									<li class="page-item"><a class="page-link" href="/products/?page=<%= previousPage %>"><%= previousPage %></a></li>
								  <% } %>

								  <li class="page-item disabled" ><a class="page-link" href="/products/?page=<%= currentPage %>" tabindex="-1"><%= currentPage %></a></li>

								  <% if(hasNextPage){  %>
									  <li class="page-item"><a class="page-link" href="/products/?page=<%= nextPage %>"><%= nextPage %></a></li>
								  <% } %>
								  
								  <% if(currentPage < lastPage){ %>
								  <li class="page-item">
										<a class="page-link" href="/products/?page=<%= nextPage %>" aria-label="Next">
										  <span aria-hidden="true">&raquo;</span>
										  <span class="sr-only">Next</span>
										</a>
									</li>
									<% } %>

								</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
    <% include partials/footer %>
</footer>
<a href="#" class="tt-back-to-top">BACK TO TOP</a>
<!-- Partials -->
<% include partials/modal-addtocartproduct %>
<% include partials/modal-quickviewmodal %>
<% include partials/modal-videoproduct %>
<% include partials/modal-subscribegood %>
<% include partials/modal-newsletter %>
<% include partials/script %>
</body>
</html>