<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/loader %>
    <header>
      <% include partials/header %>
    </header>
    <div class="tt-breadcrumb">
      <div class="container">
        <ul>
          <li><a href="/">Home</a></li>
          <li>Kết quả tìm kiếm</li>
        </ul>
      </div>
    </div>

    <div class="container container-fluid-custom-mobile-padding">
      <div class="container-indent">
        <div class="content-indent">
          <div class="tt-filters-options desctop-no-sidebar" id="js-tt-filters-options">
            <h1 class="tt-title"><%= title %></h1>
          </div>
          <div id="tt-pageContent">
            <!-- <div class="container-indent nomargin">
        <div class="tt-empty-search">
          <span class="tt-icon icon-f-85"></span>
          <h1 class="tt-title">Tìm kiếm của bạn không trả về kết quả nào.</h1>
          <p>
            Kết quả tìm kiếm cho
            <span class="tt-base-dark-color"><%= searchT%></span>
          </p>
        </div>
      </div> -->
            <div class="tt-product-listing row">
              <% searchProducts.forEach(function(prod) { %>

              <div class="col-6 col-md-4 col-lg-3">
                <div class="tt-product thumbprod-center">
                  <div class="tt-image-box">
                    <a href="/product/<%= prod._id %>">
                      <span class="tt-img"
                        ><img
                          src="http://bros-admin.herokuapp.com/assets/images/<%= prod.images[0] %>"
                          data-src="http://bros-admin.herokuapp.com/assets/images/<%= prod.images[0] %>"
                          alt=""
                          class="loaded"
                          data-was-processed="true"
                      /></span>
                      <span class="tt-img-roll-over"
                        ><img
                          src="http://bros-admin.herokuapp.com/assets/images/<%= prod.images[1] %>"
                          data-src="http://bros-admin.herokuapp.com/assets/images/<%= prod.images[1] %>"
                          alt=""
                          class="loaded"
                          data-was-processed="true"
                      /></span>
                    </a>
                  </div>
                  <div class="tt-description">
                    <div class="tt-row">
                      <ul class="tt-add-info">
                        <li><a href="#"><%= prod.productType.sub %></a></li>
                      </ul>
                      <div class="tt-rating">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                      </div>
                    </div>
                    <h2 class="tt-title">
                      <a href="/product/<%= prod._id %>"><%= prod.name %></a>
                    </h2>
                    <div class="tt-price">
                      $<%= prod.price %>
                    </div>
                    <div class="tt-product-inside-hover">
                      <div class="tt-row-btn">
                        <button
                          class="tt-btn-addtocart thumbprod-button-bg add-cart"
                          data-id="<%= prod._id %>"
                          data-toggle="modal"
                          data-target="#modalAddToCartProduct<%= prod._id %>"
                        >
                          THÊM VÀO GIỎ HÀNG
                        </button>
                      </div>
                      <div class="tt-row-btn"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="modal fade"
                id="modalAddToCartProduct<%= prod._id %>"
                tabindex="-1"
                role="dialog"
                aria-label="myModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content ">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="icon icon-clear"></span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="tt-modal-addtocart mobile">
                        <div class="tt-modal-messages"><i class="icon-f-68"></i> Đã thêm vào giỏ hàng thành công!</div>
                        <button class="btn-link btn-close-popup" data-dismiss="modal">
                          Tiếp tục mua sắm
                        </button>
                        <a href="/shopping_cart" class="btn-link">XEM GIỎ HÀNG</a>
                        <%if (typeof(user) !== 'undefined' && user.isAuthenticated) { %>
                        <a href="/add-order" class="btn">Chuyển đến thanh toán</a>
                        <% }else if(typeof(user) == 'undefined'){ %>
                        <a href="/login" class="btn">Đăng nhập để thanh toán</a>

                        <% }else if(typeof(user) !== 'undefined' && !user.isAuthenticated){ %>
                        <a href="/verify-email" class="btn">Kích hoạt email để thanh toán</a>
                        <% } %>
                      </div>
                      <div class="tt-modal-addtocart desctope">
                        <div class="row">
                          <div class="col-12 col-lg-6">
                            <div class="tt-modal-messages"><i class="icon-f-68"></i> Đã thêm vào giỏ hàng thành công!</div>
                            <div class="tt-modal-product">
                              <div class="tt-img">
                                <img src="/images/loader.svg" data-src="http://bros-admin.herokuapp.com/assets/images/<%= prod.images[0] %>" alt="" />
                              </div>
                              <h2 class="tt-title">
                                <a href="/product/<%= prod.name %>"><%= prod.name %></a>
                              </h2>

                              <div class="tt-qty">QTY: <span>1</span></div>
                            </div>
                            <div class="tt-product-total">
                              <div class="tt-total">
                                TOTAL:
                                <span class="tt-price">$<%= prod.price %></span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-lg-4">
                            <a href="#" class="btn btn-border btn-close-popup" data-dismiss="modal">Tiếp tục mua sắm</a>
                            <a href="/shopping_cart" class="btn btn-border">Xem giỏ hàng</a>
                            <%if (typeof(user) !== 'undefined' && user.isAuthenticated) { %>
                            <a href="/add-order" class="btn">Chuyển đến thanh toán</a>
                            <% }else if(typeof(user) == 'undefined'){ %>
                            <a href="/login" class="btn">Đăng nhập để thanh toán</a>

                            <% }else if(typeof(user) !== 'undefined' && !user.isAuthenticated){ %>
                            <a href="/verify-email" class="btn">Kích hoạt email để thanh toán</a>
                            <% } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <% if (currentPage !== 1){ %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= previousPage %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <% } %> <% if(hasPreviousPage ){ %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= previousPage %>"><%= previousPage %></a>
                </li>
                <% } %>

                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1"><%= currentPage %></a>
                </li>

                <% if(hasNextPage){ %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= nextPage %>"><%= nextPage %></a>
                </li>
                <% } %> <% if(currentPage < lastPage){ %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= nextPage %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <% } %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <% include partials/footer %>
    </footer>
    <a href="#" class="tt-back-to-top">BACK TO TOP</a>
    <!-- Partials -->
    <% include partials/modal-addtocartproduct %> <% include partials/modal-quickviewmodal %> <% include partials/modal-videoproduct %> <% include
    partials/modal-subscribegood %> <% include partials/modal-newsletter %> <% include partials/script %>
  </body>
</html>
